body {
    color: white;
    background: black;
    margin: 0px;
    font-family:"Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border: solid 2px rgb(228, 79, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(228,79,42) ;
}

.chamada {
    background-color: blueviolet;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.camada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p {
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid red;
}

.categoria h2 {
    color: rgb(228, 79, 42);

}